<html lang="zh" xmlns:th="http://www.thymeleaf.org">


<header class="page-header" role="banner" th:fragment="bannerhtml">


    <!--Jquery插件-->
    <script th:src="@{/static/plugin/jquery/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/static/plugin/jquery/jquery-ui-1.10.3.min.js}"></script>

    <!--賦予USER資訊給予index.js-->
    <script th:inline="javascript">window.user = [[${session.userSession}]];</script>

    <!--index JS -->
    <script th:src="@{/static/js/html/index/main.js}"></script>
    <script th:src="@{/static/js/html/index/index.js}"></script>


    <!-- we need this logo when user switches to nav-function-top -->
    <!-- 縮放的menu 左邊橫幅欄位 -->
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle"
           data-class="nav-function-hidden" title="Hide Navigation">
            <i class="ni ni-menu"></i>
        </a>
        <ul>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify"
                   title="Minify Navigation">
                    <i class="ni ni-minify-nav"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed"
                   title="Lock Navigation">
                    <i class="ni ni-lock-nav"></i>
                </a>
            </li>
        </ul>
    </div>


    <div class="ml-auto d-flex">
        <!-- 登入登出的menu -->
        <div>
            <a href="#" data-toggle="dropdown" title="drlantern@gotbootstrap.com"
               class="header-icon d-flex align-items-center justify-content-center ml-2">
                <img th:src="@{/static/img/demo/avatars/avatar-admin.png}"
                     class="profile-image rounded-circle"
                     alt="Dr. Codex Lantern">
                <!-- you can also add username next to the avatar with the codes below:
                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
                <i class="ni ni-chevron-down hidden-xs-down"></i> -->
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                                            <span class="mr-2">
                                                <img th:src="@{/static/img/demo/avatars/avatar-admin.png}"
                                                     class="rounded-circle profile-image" alt="Dr. Codex Lantern">
                                            </span>
                        <div class="info-card-text">
                            <div class="fs-lg text-truncate text-truncate-lg">Dr. Codex Lantern</div>
                            <span class="text-truncate text-truncate-md opacity-80">drlantern@gotbootstrap.com</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider m-0"></div>
                <a href="#" class="dropdown-item" data-action="app-reset">
                    <span data-i18n="drpdwn.reset_layout">布局模板</span>
                </a>
                <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
                    <span data-i18n="drpdwn.settings">設定</span>
                </a>
                <div class="dropdown-divider m-0"></div>
                <a href="#" class="dropdown-item" data-action="app-fullscreen">
                    <span data-i18n="drpdwn.fullscreen">全螢幕模式</span>
                    <i class="float-right text-muted fw-n">F11</i>
                </a>
                <a href="#" class="dropdown-item" data-action="app-print">
                    <span data-i18n="drpdwn.print">列印</span>
                    <i class="float-right text-muted fw-n">Ctrl + P</i>
                </a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item fw-500 pt-3 pb-3" href="doLogOut">
                    <span data-i18n="drpdwn.page-logout">登出</span>
                    <span class="float-right fw-n">&commat;codexlantern</span>
                </a>
            </div>
        </div>
    </div>
</header>
</html>