<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/default">

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        比特寶 - 會員設置 - v1.0.5
    </title>
    <meta name="description" content="Borders">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 公共 base css -->
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" th:href="@{/static/css/vendors.bundle.css}">
    <link id="appbundle" rel="stylesheet" media="screen, print" th:href="@{/static/css/app.bundle.css}">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="#">
    <link id="myskin" rel="stylesheet" media="screen, print" th:href="@{/static/css/skins/skin-master.css}">
    <!--  公共的 icon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/static/img/favicon/bitebao.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/static/img/favicon/bitebao.png}">

</head>

<body class="mod-bg-1 mod-nav-link ">


<div class="page-wrapper">
    <div class="page-inner">

        <aside id="left-panel" th:replace="navigation :: asideSelf"></aside>
        <div class="page-content-wrapper">
            <!-- BEGIN Page Header -->
            <header class="page-header" role="banner" th:replace="banner :: bannerhtml"></header>
            <!-- END Page Header -->

            <!-- BEGIN Page Content -->
            <!-- the #js-page-content id is needed for some plugins to initialize -->
            <main id="js-page-content" role="main" class="page-content">
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">比特寶</a></li>
                    <li class="breadcrumb-item">會員資訊</li>
                    <li class="breadcrumb-item active">會員設置</li>
                    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span>
                    </li>
                </ol>

                <!--      底下業務模組區域開始          -->

                <div class="row">
                    <div class="col-xl-12">
                        <div id="panel-1" class="panel">
                            <div class="panel-hdr">
                                <h2>
                                    General <span class="fw-300"><i>inputs</i></span>
                                </h2>
                                <div class="panel-toolbar">
                                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse"
                                            data-toggle="tooltip" data-offset="0,10"
                                            data-original-title="Collapse"></button>
                                    <button class="btn btn-panel waves-effect waves-themed"
                                            data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10"
                                            data-original-title="Fullscreen"></button>
                                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close"
                                            data-toggle="tooltip" data-offset="0,10"
                                            data-original-title="Close"></button>
                                </div>
                            </div>
                            <div class="panel-container show">
                                <div class="panel-content">
                                    <div class="panel-tag">
                                        蒐集個人資料告知事項暨當事人同意書 <code>公告</code>
                                        為辦理公司相關作業，及相關人員或單位為處理會務行政作業所必須，如欲聲請代表同意本公司蒐集資料之使用。
                                    </div>
                                    <form id="memberProfileForm">
                                        <div class="form-group">
                                            <label class="form-label" for="account">會員帳號</label>
                                            <input type="text" readonly="" class="form-control-plaintext"
                                                   id="account" name="account" value="">
                                        </div>


                                        <div class="form-group">
                                            <label class="form-label" for="activationStatus">會員帳號</label>
                                            <input type="text" readonly="" class="form-control-plaintext"
                                                   id="activationStatus" name="activationStatus" value="未激活">
                                        </div>


                                        <div class="form-group">
                                            <label class="form-label" for="memberExpiryDate">會員到期時間</label>
                                            <input class="form-control" id="memberExpiryDate" type="date"
                                                   name="memberExpiryDate" disabled="disabled">
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="nikeName">會員暱稱</label>
                                            <input type="text" id="nikeName" name="nikeName" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="email">信箱</label>
                                            <input type="email" id="email" name="email"
                                                   class="form-control" placeholder="請輸入您的信箱">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="password">更改密碼</label>
                                            <input type="password" id="password" name="password" class="form-control"
                                                   placeholder="不改變請留白">
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="checkPassword">再次確認密碼</label>
                                            <input type="password" id="checkPassword" name="checkPassword"
                                                   class="form-control"
                                                   placeholder="不改變請留白">
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="example-fileinput">證件照片上傳</label>
                                            <input type="file" id="example-fileinput" class="form-control-file">
                                        </div>

                                        <button class="btn btn-primary ml-auto waves-effect waves-themed"
                                                id="memberSubmit" type="submit">
                                            送出
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
        </div>
    </div>
</div>

<nav class="shortcut-menu d-none d-sm-block">
    <input type="checkbox" class="menu-open" name="menu-open" id="menu_open"/>
    <label for="menu_open" class="menu-open-button ">
        <span class="app-shortcut-icon d-block"></span>
    </label>
    <a href="#" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Scroll Top">
        <i class="fal fa-arrow-up"></i>
    </a>
    <a href="page_login.html" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Logout">
        <i class="fal fa-sign-out"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left"
       title="Full Screen">
        <i class="fal fa-expand"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left"
       title="Print page">
        <i class="fal fa-print"></i>
    </a>
    <a href="#" class="menu-item btn" data-action="app-voice" data-toggle="tooltip" data-placement="left"
       title="Voice command">
        <i class="fal fa-microphone"></i>
    </a>
</nav>
<!-- END Quick Menu -->

<script th:src="@{/static/js/html/member/member.js}"></script>
<script th:src="@{/static/js/html/member/main.js}"></script>
</body>
<!-- END Body -->
</html>
